### {{ ansible_managed }} ###
sysMgmtdHost                  = {{ item.sys_mgmtd_host | default(client_sys_mgmtd_host) }}
connAuthFile                  = /etc/beegfs/connauthfile
connDisableAuthentication     = false
connClientPortUDP             = {{ item.conn_client_port_udp | default(client_conn_client_port_udp) }}
connHelperdPortTCP            = {{ item.conn_helperd_port_tcp | default(client_conn_helperd_port_tcp) }}
connMgmtdPortTCP              = {{ hostvars[item.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(client_conn_mgmtd_port_tcp) }}
connMgmtdPortUDP              = {{ hostvars[item.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_udp"] | default(client_conn_mgmtd_port_udp) }}
connPortShift                 = 0
connCommRetrySecs             = 600
connFallbackExpirationSecs    = 900
{% if 'conn_interfaces' in item and item.conn_interfaces | length > 0 %}
{% if multi_mode %}
connInterfacesFile            = /etc/beegfs/{{ item.sys_mgmtd_host | replace('-', '') }}.d/client_interfaces
{% else %}
connInterfacesFile            = /etc/beegfs/client_interfaces
{% endif %}
{% else %}
connInterfacesFile            =
{% endif %}
connRDMAInterfacesFile        =
connMaxInternodeNum           = 12
connMaxConcurrentAttempts     = 0
connNetFilterFile             =
connUseRDMA                   = {{ item.conn_use_rdma | default(client_conn_use_rdma) }}
connTCPFallbackEnabled        = {{ item.conn_tcp_fallback_enabled | default(client_conn_tcp_fallback_enabled) }}
connTCPRcvBufSize             = 0
connUDPRcvBufSize             = 0
connRDMABufNum                = {{ item.conn_rdma_buf_num | default(client_conn_rdma_buf_num) }}
connRDMABufSize               = {{ item.conn_rdma_buf_size | default(client_conn_rdma_buf_size) }}
tuneFileCacheBufSize          = {{ item.tune_file_cache_buf_size | default(client_tune_file_cache_buf_size) }}
connRDMATypeOfService         = 0
connTcpOnlyFilterFile         =
logClientID                   = false
logHelperdIP                  =
logLevel                      = 3
logType                       = helperd
quotaEnabled                  = {{ item.quota_enabled | default(client_quota_enabled) }}
sysCreateHardlinksAsSymlinks  = false
sysMountSanityCheckMS         = 11000
sysSessionCheckOnClose        = false
sysSyncOnClose                = false
sysTargetOfflineTimeoutSecs   = 900
sysUpdateTargetStatesSecs     = 30
sysXAttrsEnabled              = {{ item.sys_xattrs_enabled | default(client_sys_xattrs_enabled) }}
tuneFileCacheType             = buffered
tunePreferredMetaFile         =
tunePreferredStorageFile      =
tuneRemoteFSync               = true
tuneUseGlobalAppendLocks      = false
tuneUseGlobalFileLocks        = false
sysACLsEnabled                = {{ item.sys_acls_enabled | default(client_sys_acls_enabled) }}
