### {{ ansible_managed }} ###
sysMgmtdHost                 = {{ settings.sys_mgmtd_host | default(storaged_sys_mgmtd_host) }}
storeStorageDirectory        = /data/beegfs/beegfs_storage/t{{ settings.target_id | default(storaged_target_id) }}/dir
storeAllowFirstRunInit       = false
storeFsUUID                  =
connAuthFile                 = /etc/beegfs/conn.auth
connDisableAuthentication    = false
connBacklogTCP               = 128
{% if settings.conn_interfaces | length > 0 %}
connInterfacesFile           = /etc/beegfs/inst{{ settings.target_id }}.d/storaged_interfaces
{% else %}
connInterfacesFile           =
{% endif %}
connMaxInternodeNum          = 12
{% if metad_beegfs_version | split('.') | first | int == 7 %}
connMgmtdPortTCP             = {{ hostvars[settings.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(storaged_conn_mgmtd_port_tcp) }}
connMgmtdPortUDP             = {{ hostvars[settings.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_udp"] | default(storaged_conn_mgmtd_port_udp) }}
connStoragePortTCP           = {{ "8%02d3" |format(settings.target_id | int) | default(storaged_conn_storage_port_tcp) }}
connStoragePortUDP           = {{ "8%02d3" |format(settings.target_id | int) | default(storaged_conn_storage_port_udp) }}
{% else %}
connMgmtdPort                = {{ hostvars[settings.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(storaged_conn_mgmtd_port_tcp) }}
connStoragePort              = {{ "8%02d3" |format(settings.target_id | int) | default(storaged_conn_storage_port_tcp) }}
{% endif %}
connPortShift                = 0
connNetFilterFile            =
connUseRDMA                  = true
connRDMABufSize              = {{ settings.conn_rdma_buf_size | default(storaged_conn_rdma_buf_size) }}
connRDMABufNum               = {{ settings.conn_rdma_buf_num | default(storaged_conn_rdma_buf_num) }}
connRDMATypeOfService        = 0
connTcpOnlyFilterFile        =
logType                      = {{ settings.log_type | default(storaged_log_type) }}
logLevel                     = 3
logNoDate                    = false
logNumLines                  = 50000
logNumRotatedFiles           = 5
logStdFile                   = /var/log/beegfs-storage.log
runDaemonized                = true
sysResyncSafetyThresholdMins = 10
sysTargetOfflineTimeoutSecs  = {{ settings.sys_target_offline_timeout_secs | default(storaged_sys_target_offline_timeout_secs) }}
tuneBindToNumaZone           =
tuneFileReadAheadSize        = 0m
tuneFileReadAheadTriggerSize = 4m
tuneFileReadSize             = {{ settings.tune_file_read_size | default(storaged_tune_file_read_size) }}
tuneFileWriteSize            = {{ settings.tune_file_write_size | default(storaged_tune_file_write_size) }}
tuneFileWriteSyncSize        = 0m
tuneNumResyncGatherSlaves    = 6
tuneNumResyncSlaves          = 12
tuneNumStreamListeners       = 1
tuneNumWorkers               = {{ settings.tune_num_workers | default(storaged_tune_num_workers) }}
tuneUseAggressiveStreamPoll  = false
tuneUsePerTargetWorkers      = true
tuneUsePerUserMsgQueues      = false
tuneWorkerBufSize            = 4m
quotaEnableEnforcement       = {{ settings.quota_enable_enforcement | default(storaged_quota_enable_enforcement) }}
