# Do not upgrade ansible because incompatible with rhel8.10
ansible==8.7.0
ansible-core==2.15.13
# Do not upgrade ansible-lint because incompatible with ansible-core 2.15.7
ansible-lint==24.10.0
antsibull-changelog==0.34.0
antsibull-docs>=2.11.0
molecule>=24.6.0
pre-commit==4.3.0
shellcheck-py==0.11.0.1
python-openstackclient==8.0.0
openstacksdk==4.5.0
