---
argument_specs:

  main:
    short_description: Deploy Beegfs client services
    description:
      - Install and configure Beegfs client services for single and multi cluster environments.
    author:
      - Davide Obbi
    version_added: 1.0.0
    options:
      client_beegfs_version:
        type: str
        description: The Beegfs version that will be used https://doc.beegfs.io/latest/release_notes.html
        required: true
        choices: ["7.4.1", "7.4.2", "7.4.3", "7.4.4", "7.4.5", "7.4.6", "8.1.0"]
      client_start_services:
        type: bool
        description:
          - Start the `beegfs-client|neegfs-helperd.service` or `beegfs-client|beegfs-helperd@.service`
          - If set to false, it won't be possible to create directories in the Beegfs mountpoint
        default: true
      client_enable_beeond:
        type: bool
        description: install Beegfs Beeond packages on the node
        default: false
      client_ofed_libs_path:
        type: str
        description:
          - The filesystem path where the OFED kernel libraries are located
          - Needed by the client to build with RDMA support
        default: ""
      client_nvfs_libs_path:
        type: str
        description:
          - The filesystem path where the NVFS kernel libraries are located
          - Needed by the client to build with GPUDirect support
        default: ""
      client_nvidia_libs_path:
        type: str
        description:
          - The filesystem path where the NVIDIA kernel libraries are located
          - Needed by the client to build with GPUDirect support
        default: ""
      client_rdma_enabled:
        type: bool
        description:
          - Enable RDMA support for the Beegfs client
          - If set to true, the client will be built with RDMA support
        default: true
      client_build_kernel_modules:
        type: bool
        description: Build the client kernel modules
        default: true
      client_auth_file_path:
        default: /etc/beegfs/conn.auth
        type: str
        description:
          - The path to the authentication file used by the client
          - The file is used to authenticate the client with the management service
      client_install_kernel_dev:
        type: bool
        description:
          - Install the kernel development packages
          - Needed to build the client kernel modules
          - If the kernel* is filtered out from package manager, it breaks the Ansible module
        default: true
      client_dkms_install:
        type: bool
        description:
          - Install the client kernel modules using DKMS
          - Enabling this option will add the EPEL repo on RHEL like systems
          - Enabling this option will install the package `beegfs-client-dkms` instead of `beegfs-client`
          - For more information https://doc.beegfs.io/latest/advanced_topics/client_dkms.html
        default: false
      client_clusters:
        type: list
        elements: dict
        description: The list of clusters and their parameters for each client instance
        options:
          sys_mgmtd_host:
            type: str
            description:
              - The address at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: localhost
          conn_client_port_udp:
            type: str
            description:
              - The UDP port at which the client service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8004"
          conn_helperd_port_tcp:
            type: str
            description:
              - The TCP port at which the helperd service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8006"
          conn_mgmtd_port_tcp:
            type: str
            description:
              - The TCP port at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8008"
          conn_mgmtd_port_udp:
            type: str
            description:
              - The UDP port at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8008"
          conn_use_rdma:
            type: str
            description:
              - Wheter to enable or not the RDMA support for the client communication
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "true"
            choices: ["false", "true"]
          conn_tcp_fallback_enabled:
            type: str
            description:
              - Wheter to enable or not the TCP fallback support for the client communication
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "true"
            choices: ["false", "true"]
          conn_interfaces:
            type: list
            elements: str
            description:
              - The list of interfaces to use by the daemon
              - The list is used in the `conn_interfaces_file`
            default: []
          conn_rdma_buf_size:
            type: str
            description:
              - The RDMA buffer size allocated for communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8192"
          conn_rdma_buf_num:
            type: str
            description:
              - The RDMA buffer count allocated for the communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "70"
          conn_max_internode_num:
            type: str
            description:
              - The maximum number of internode connections
              - this option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "12"
          conn_rdma_meta_buf_num:
            type: str
            description:
              - The RDMA meta buffer count allocated for the communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "70"
          conn_rdma_meta_buf_size:
            type: str
            description:
              - The RDMA meta buffer size allocated for communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "8192"
          tune_file_cache_buf_size:
            type: str
            description:
              - The cache buffer size on client side
              - Must accomodate for conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "1048576"
          quota_enabled:
            type: str
            description:
              - Enable the quota enforcement feature
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "false"
            choices: ["false", "true"]
          sys_xattrs_enabled:
            type: str
            description:
              - Enable the storing of extra attributes feature
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "false"
            choices: ["false", "true"]
          sys_acls_enabled:
            type: str
            description:
              - Enable the ACL feature
              - This option is used and documented in the file /etc/beegfs/beegfs-client.conf
            default: "false"
            choices: ["false", "true"]
          client_tls_tmp_dir:
            type: str
            description:
              - path to the TLS certificate needed by Beegfs
            default: ""
          client_dir_paths:
            type: list
            elements: dict
            description: The list of directory paths relative to the Beegfs mountpoint with custom striping rules
            options:
              chunk_size:
                type: str
                description:
                  - the chunk size set for the specific path relative to the beegfs mountpoint
                  - This parameter is documented here https://doc.beegfs.io/latest/advanced_topics/striping.html
              pattern:
                type: str
                description:
                  - this parameter sets the pattern for the specific path
                  - this parameter is documented in https://doc.beegfs.io/latest/advanced_topics/striping.html
              beegfs_path:
                type: str
                description:
                  - The path relative to the Beegfs mountpoint where the directory should exist
                  - You need the `client_start_services` option set to true to create directories
                required: true
              fs_path:
                type: str
                description: The path relative to the root filesystem where the directory should be bind mounted
                required: false
