[Unit]
Description=Start BeeGFS Client
Requires=network-online.target
# We disable the wants service, because it spams the log files
#Wants=local-fs.target time-sync.target beegfs-helperd.service beegfs-mgmtd.service \
#beegfs-meta.service beegfs-storage.service openib.service openibd.service rdma.service \
#opensmd.service opensm.service nss-lookup.target nss-user-lookup.target slapd.service \
#autofs.service ypbind.service nscd.service nslcd.service sshd.service
{% if multi_mode %}
After=network-online.target local-fs.target time-sync.target beegfs-helperd@.service \
{% else %}
After=network-online.target local-fs.target time-sync.target beegfs-helperd.service \
{% endif %}
beegfs-mgmtd.service beegfs-meta.service beegfs-storage.service openib.service openibd.service \
rdma.service opensmd.service opensm.service nss-lookup.target nss-user-lookup.target \
slapd.service autofs.service ypbind.service nscd.service nslcd.service sshd.service

[Service]
Type=oneshot
RemainAfterExit=yes
{% if multi_mode %}
Environment=MOUNT_HOOK=/etc/beegfs/%I.d/beegfs-client-mount-hook.sh
{% else %}
Environment=MOUNT_HOOK=/etc/beegfs/beegfs-client-mount-hook.sh
{% endif %}
ExecStart=/etc/init.d/beegfs-client start %I
ExecStop=/etc/init.d/beegfs-client stop %I

[Install]
WantedBy=multi-user.target
