### {{ ansible_managed }} ###
sysMgmtdHost                 = {{ settings.sys_mgmtd_host | default(metad_sys_mgmtd_host) }}
storeMetaDirectory           = /data/beegfs/beegfs_meta/t{{ settings.target_id | default(metad_target_id) }}
storeAllowFirstRunInit       = false
storeFsUUID                  =
connAuthFile                 = /etc/beegfs/connauthfile
connDisableAuthentication    = false
connBacklogTCP               = 128
connFallbackExpirationSecs   = 900
{% if settings.conn_interfaces | length > 0 %}
connInterfacesFile           = /etc/beegfs/inst{{ settings.target_id }}.d/meta_interfaces
{% else %}
connInterfacesFile           =
{% endif %}
connMaxInternodeNum          = 32
connMetaPortTCP              = {{ "8%02d5" |format(settings.target_id | int) | default(metad_conn_metad_port_tcp) }}
connMetaPortUDP              = {{ "8%02d5" |format(settings.target_id | int) | default(metad_conn_metad_port_udp) }}
connMgmtdPortTCP             = {{ hostvars[item.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(metad_conn_mgmtd_port_tcp) }}
connMgmtdPortUDP             = {{ hostvars[item.sys_mgmtd_host]["mgmtd_conn_mgmtd_port_udp"] | default(metad_conn_mgmtd_port_udp) }}
connPortShift                = 0
connNetFilterFile            =
connUseRDMA                  = true
connRDMABufSize              = {{ settings.conn_rdma_buf_size | default(metad_conn_rdma_buf_size) }}
connRDMABufNum               = {{ settings.conn_rdma_buf_num | default(metad_conn_rdma_buf_num) }}
connRDMATypeOfService        = 0
connTcpOnlyFilterFile        =
logType                      = {{ settings.log_type | default(metad_log_type) }}
logLevel                     = 3
logNoDate                    = false
logNumLines                  = 50000
logNumRotatedFiles           = 5
logStdFile                   = /var/log/beegfs-meta.log
runDaemonized                = true
storeClientXAttrs            = {{ settings.store_client_x_attrs | default(metad_store_client_x_attrs) }}
storeClientACLs              = {{ settings.store_client_acls | default(metad_store_client_acls) }}
storeUseExtendedAttribs      = true
sysTargetAttachmentFile      =
sysTargetOfflineTimeoutSecs  = {{ settings.sys_target_offline_timeout_secs | default(metad_sys_target_offline_timeout_secs) }}
sysAllowUserSetPattern       = false
tuneBindToNumaZone           = {{ settings.tune_bind_to_numa_zone | default(metad_tune_bind_to_numa_zone) }}
tuneNumStreamListeners       = 1
tuneNumWorkers               = 0
tuneTargetChooser            = randomized
tuneUseAggressiveStreamPoll  = false
tuneUsePerUserMsgQueues      = false
quotaEnableEnforcement       = {{ settings.quota_enable_enforcement | default(metad_quota_enable_enforcement) }}
