### {{ ansible_managed }} ###
sysMgmtdHost                 = {{ mon_sys_mgmtd_host }}
dbType                       = {{ mon_db_type }}
dbHostName                   = {{ mon_db_hostname }}
dbHostPort                   = {{ mon_db_host_port }}
dbAuthFile                   = /etc/beegfs/beegfs-mon.auth
dbDatabase                   = {{ mon_db_database }}
dbMaxPointsPerRequest        = 5000
dbSetRetentionPolicy         = true
dbRetentionDuration          = {{ mon_db_retention_duration }}
dbBucket                     = {{ mon_db_bucket }}
cassandraMaxInsertsPerBatch  = 25
cassandraTTLSecs             = 86400
collectClientOpsByNode       = true
collectClientOpsByUser       = true
statsRequestIntervalSecs     = 5
httpTimeoutMSecs             = 1000
nodelistRequestIntervalSecs  = 30
curlCheckSSLCertificates     = true
{% if mon_beegfs_version | split('.') | first | int == 7 %}
connMgmtdPortTCP             = {{ hostvars[mon_sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(mon_conn_mgmtd_port_tcp) }}
connMgmtdPortUDP             = {{ hostvars[mon_sys_mgmtd_host]["mgmtd_conn_mgmtd_port_udp"] | default(mon_conn_mgmtd_port_udp) }}
{% else %}
connMgmtdPort             = {{ hostvars[mon_sys_mgmtd_host]["mgmtd_conn_mgmtd_port_tcp"] | default(mon_conn_mgmtd_port_tcp) }}
{% endif %}
connPortShift                = 0
connAuthFile                 = /etc/beegfs/conn.auth
connDisableAuthentication    = false
connFallbackExpirationSecs   = 900
connMaxInternodeNum          = 3
{% if mon_conn_interfaces | length > 0 %}
connInterfacesFile           = /etc/beegfs/{{ ansible_role_name | regex_replace(ansible_collection_name ~ '.', '') }}_interfaces
{% else %}
connInterfacesFile            =
{% endif %}
connNetFilterFile            =
connTcpOnlyFilterFile        =
logType                      = {{ mon_log_type }}
logLevel                     = 3
logNoDate                    = false
logNumLines                  = 50000
logNumRotatedFiles           = 2
logStdFile                   = /var/log/beegfs-mon.log
runDaemonized                = true
tuneNumWorkers               = 4
