### {{ ansible_managed }} ###
storeMgmtdDirectory                    = {{ mgmtd_store_mgmtd_directory }}
storeAllowFirstRunInit                 = false
sysAllowNewServers                     = true
sysAllowNewTargets                     = true
connAuthFile                           = /etc/beegfs/connauthfile
connDisableAuthentication              = false
connBacklogTCP                         = 128
connInterfacesFile                     =
connMgmtdPortTCP                       = {{ mgmtd_conn_mgmtd_port_tcp }}
connMgmtdPortUDP                       = {{ mgmtd_conn_mgmtd_port_udp }}
connNetFilterFile                      =
connPortShift                          = 0
logType                                = {{ mgmtd_log_type }}
logLevel                               = 2
logNoDate                              = false
logNumLines                            = 50000
logNumRotatedFiles                     = 5
logStdFile                             = /var/log/beegfs-mgmtd.log
quotaQueryGIDFile                      =
quotaQueryGIDRange                     =
quotaQueryUIDFile                      =
quotaQueryUIDRange                     =
quotaQueryType                         = system
quotaQueryWithSystemUsersGroups        = false
quotaUpdateIntervalMin                 = 10
runDaemonized                          = true
sysTargetOfflineTimeoutSecs            = 180
tuneClientAutoRemoveMins               = 30
tuneNumWorkers                         = 4
tuneMetaDynamicPools                   = true
tuneMetaInodesLowLimit                 = 10M
tuneMetaInodesEmergencyLimit           = 1M
tuneMetaSpaceLowLimit                  = 10G
tuneMetaSpaceEmergencyLimit            = 3G
tuneStorageDynamicPools                = true
tuneStorageInodesLowLimit              = 10M
tuneStorageInodesEmergencyLimit        = 1M
tuneStorageSpaceLowLimit               = 1T
tuneStorageSpaceEmergencyLimit         = 20G
quotaEnableEnforcement                 = {{ mgmtd_quota_enable_enforcement }}
