---
argument_specs:

  main:
    short_description: Configure Beegfs Metadata services
    description:
      - Install and configure Beegfs metadata services.
    author:
      - Davide Obbi
    version_added: "1.0.0"
    options:
      metad_beegfs_version:
        type: str
        description: The Beegfs version that will be used https://doc.beegfs.io/latest/release_notes.html
        required: true
        choices: ["7.4.1", "7.4.2", "7.4.3", "7.4.4", "7.4.5", "7.4.6", "8.1", "8.2"]
      metad_populate_etc_hosts:
        type: bool
        description:
          - Whether to populate /etc/hosts file with Beegfs cluster nodes addresses
          - When enabled, all nodes in the inventory will be added to /etc/hosts
          - This is useful when DNS is not available or for testing environments
          - Not executed inside Docker/container environments
        default: false
      metad_start_services:
        type: bool
        description: Start the `beegfs-meta.service` or `beegfs-meta@.service`
        default: true
      metad_auth_file_path:
        type: str
        description:
          - The location on local filesystem to deploy the connection auth file from
        default: "{{ role_path }}/files/conn.auth"
      metad_filesystem_type:
        type: str
        description:
          - The filesystem type to use for metadata targets
        default: "ext4"
        choices: ["ext4", "xfs"]
      metad_filesystem_bytes_per_inode:
        type: int
        description:
          - Bytes per inode ratio for ext4 filesystem
        default: 2048
      metad_filesystem_inode_size:
        type: int
        description:
          - Inode size in bytes for the filesystem
        default: 512
      metad_filesystem_journal_size:
        type: int
        description:
          - Journal size in MB for ext4 filesystem
        default: 400
      metad_filesystem_features:
        type: str
        description:
          - Filesystem features to enable for ext4
        default: "dir_index,large_dir,filetype"
      metad_filesystem_options:
        type: str
        description:
          - Mount options for the metadata filesystem
        default: "defaults,noatime,nodiratime,nofail"
      metad_filesystem_purge:
        type: bool
        description:
          - Whether to purge existing filesystem data before creating new filesystem
          - WARNING - This will destroy all data on the device
        default: false
      metad_server_targets:
        type: list
        elements: dict
        description: The list of metadata targets and their parameters for each metadata server
        options:
          target_id:
            type: str
            description:
              - The ID to assign to the metadata target object
              - Albeit not required by Beegfs, the ID needs to be unique in the cluster
              - The ID is used to create the target directory mountpoint `/data/beegfs_meta/t<target_id>`
            default: "1"
          device:
            type: str
            description:
              - "Name of the device that will mount the beegfs meta partition"
              - "Note that /dev/ must be omitted because it is already present in the path of the device"
            required: true
          sys_mgmtd_host:
            type: str
            description:
              - The address at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: localhost
          conn_metad_port_tcp:
            type: str
            description:
              - The TCP port at which the metadata service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "8015"
          conn_metad_port_udp:
            type: str
            description:
              - The TCP port at which the metadata service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "8015"
          conn_rdma_buf_size:
            type: str
            description:
              - The RDMA buffer size allocated for communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "8192"
          conn_rdma_buf_num:
            type: str
            description:
              - The RDMA buffer count allocated for the communication
              - conn_rdma_buf_num * conn_rdma_buf_size
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "70"
          tune_bind_to_numa_zone:
            type: str
            description:
              - Bind the `beegfs-meta` daemon to a specific NUMA node
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: ""
          conn_mgmtd_port_tcp:
            type: str
            description:
              - The TCP port at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "8008"
          conn_mgmtd_port_udp:
            type: str
            description:
              - The UDP port at which the management service is responding at
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "8008"
          conn_interfaces:
            type: list
            description:
              - The list of interfaces to use by the daemon
              - This list will be used in the `conn_interfaces_file`
            default: []
          log_type:
            type: str
            description:
              - Where log entries for the Beegfs management daemon should go
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: syslog
            choices: ["syslog", "file"]
          quota_enable_enforcement:
            type: str
            description:
              - Enable the quota enforcement feature
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "false"
            choices: ["false", "true"]
          store_client_x_attrs:
            type: str
            description:
              - Enable the storing of extra attributes feature
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "false"
            choices: ["false", "true"]
          store_client_acls:
            type: str
            description:
              - Enable the ACL feature
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "false"
            choices: ["false", "true"]
          sys_target_offline_timeout_secs:
            type: str
            description:
              - The timeout in seconds for the metadata target to be considered "Offline"
              - This option is used and documented in the file /etc/beegfs/beegfs-meta.conf
            default: "180"
          mirrorgroup_id:
            type: str
            description:
              - An ID that must be unique among metadata and storage target mirror group definitions
              - Even if Beegfs allows to have the same ID definition among metadata
                and storage mirrror groups we do not support it
              - You must specify the same mirrorgroup id in two and only two metadata target
                to have a mirror relationship created
              - The order in which the targets appear in the metad_server_targets structure defines
                if these are primaries or secondaries
            default: ""
