---
name: Ansible CI

# yamllint disable-line rule:truthy
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - labeled
  # Allow manual trigger
  workflow_dispatch:

jobs:
  ansible-lint:
    name: Lint collection
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Lint collection
        run: ansible-lint

  ansible-test-sanity:
    name: Perform sanity testing with ansible-test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Perform sanity test with ansible-test
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          testing-type: sanity
